body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: darkgreen;
}

h2 {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;
    color: #e90909b7;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;
}

#reset-btn {

    margin-top: 100px;
    width: 200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}